@font-face {
    font-family: "Metropolis";
    src: url("metropolis.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Metropolis";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("bg.svg") no-repeat center center fixed;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px;
}

a:hover {
    color: black;
    background-color: white;
}

.card {
    width: 400px;
    height: 400px;
    background-color: #121212;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 2px #FFFC00);
    padding: 20px;
    text-align: center;
}

#logo {
    margin: 10px;
}

#submitForm {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#submitForm input {
    margin: 5px;
    padding: 10px;
}

#submitForm label {
    margin-top: 10px;
}

#username {
    background: none;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
}

#username:focus {
    border-bottom: 2px solid white;
}

#jsonFile {
    color: #dbdbdb;
}

::-webkit-file-upload-button {
    border: none;
    background: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    transition: 0.3s;
    margin-right: 20px;
}

::-webkit-file-upload-button:hover {
    color: black;
    background: white;
}

#genButton {
    border: 1px solid white;
    background: none;
    color: white;
    transition: 0.3s;
}

#genButton:hover {
    color: black;
    background: white;
}